$colors__primary: #004d40;
$colors__primary--light: #39796b;
$colors__primary--dark: #00251a;

$colors__secondary: #f44336;
$colors__secondary--light: #a78172;
$colors__secondary--dark: #4a2b20;

$colors__background: #e1e2e1;
$colors__background--light: #f5f5f6;

$colors__text: #302020;
$colors__text--light: $colors__background--light;
