<div class="app-content-wrapper app-header__content-wrapper">
	<div class="app-header__logo">Awesome Theater</div>
	<div class="app-header__menu">
		<a class="app-header__menu__item" routerLink="/schedule" routerLinkActive="app-header__menu__item--active">
			Schedule
		</a>
		<a class="app-header__menu__item" routerLink="/location" routerLinkActive="app-header__menu__item--active">
			Location
		</a>
		<a class="app-header__menu__item" routerLink="/login" routerLinkActive="app-header__menu__item--active">
			Internal
		</a>
	</div>
</div>
