.app-movie-summary {
	&:host {
		display: flex;
		flex-direction: row;
	}

	&__poster {
		flex: 0 1 200px;
		margin-bottom: -4px;

		> img {
			width: 100%;
		}
	}

	&__details {
		flex: 4 0 200px;
		padding: 0 1em;

		> dl {
			dt {
				font-weight: bold;
			}

			> dd {
				margin-bottom: 0.75em;
			}
		}
	}
}
