.app-seat-selection {
	&:host {
		display: grid;
		grid-template-columns: 2fr 4fr 1fr;
	}
	&__title {
		grid-row: 1;
		grid-column: 1 / 3;
	}

	&__movie-summary {
		grid-row: 2;
		grid-column: 1;
	}

	&__seat-selector {
		grid-row: 2;
		grid-column: 2;
	}

	&__seat-selection-summary {
		grid-row: 2;
		grid-column: 3;
	}
}
