@import 'constants/colors';

.app-weekly-screenings {
	&:host {
		display: flex;
		background-color: $colors__primary--light;
	}

	&__column {
		width: (100 / 7) + 0%;
	}

	&__header {
		padding: 0.5rem 0;
		color: $colors__text--light;
		text-align: center;
		background-color: $colors__primary;
	}

	&__cell {
		display: block;
		margin: 0.5rem;
		border-radius: 0 10px;
		padding: 0.5rem 0;
		color: $colors__text;
		text-align: center;
		text-decoration: none;
		background-color: $colors__background--light;

		&:hover {
			text-decoration: underline;
		}
	}
}
