@import 'constants/colors';

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto-Regular.ttf');
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
	background-color: $colors__background;
	color: $colors__text;
}

.app-title-block {
	margin: 0;
	padding: 1rem;
	background-color: $colors__primary;
	color: $colors__text--light;
}

button.app-button {
	background-color: $colors__primary;
	padding: 0.3rem 1.5rem;
	border-radius: 0 15px;
	border: 3px solid $colors__primary--light;
	color: $colors__text--light;

	&:hover {
		cursor: pointer;
		background-color: $colors__primary--light;
	}
}

.app-content-wrapper {
	max-width: 940px;
	padding: 0 20px;
	margin: 0 auto;
}
