* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto-Regular.ttf');
}

body {
	margin: 0;
	font-family: Roboto, sans-serif;
}

.app-content-wrapper {
	width: 920px;
	margin: 0 auto;
}
